<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cako">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cako_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cako_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".FaqActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".OnDragActivity"
            android:label=""
            android:parentActivityName=".FirstActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".UserInfoActivity" />
        <activity
            android:name=".AboutApp"
            android:parentActivityName=".UserInfoActivity" />
        <activity
            android:name=".OfferActivity"
            android:label="Offers"
            android:parentActivityName=".FirstActivity" />
        <activity
            android:name=".UserInfoActivity"
            android:parentActivityName=".FirstActivity" />
        <activity
            android:name=".LovedActivity"
            android:label="Loved"
            android:parentActivityName=".FirstActivity" />
        <activity
            android:name=".CartActivity"
            android:label="My Cart"
            android:parentActivityName=".FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cako.FirstActivity" />
        </activity>
        <activity android:name=".FirstActivity" />
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/styleForLunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>